*{
    margin: 0;
    padding: 0;
}
html {
    font-family: "Segoe UI", "Helvetica", "Tahoma", San-serif;
    font-size: 10px;
}

body {
    background-image: url("colorful_dots_on_black.jpg");
    font-size: 100px;
    background-repeat:repeat;


}

/*headers*/
body > header {
    width: 100%;
    font-size: 60px;
    background: -webkit-linear-gradient(left, #FF0000 33%, #008000 33%, #008000 67%, #0000FF 67%); 
    color: #FFFF00;
    text-align: center;
    margin-bottom: 64px;
    font-family: Verdana;
    font-weight: bold;
}

aside, article {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 20px;
}

section {
    width: 75%;
}

aside, section {
    display: inline-block;
    vertical-align: top;
}

body aside nav ul li:before{
    content: url("check-mark-button-hi.png");
    position: absolute;
    margin-top: -5px;
}

/*aside styles*/
aside {
    width: 18%;
    margin-left: 10px;
}


aside header {
    font-size: 20px;
    text-decoration: underline;
}

aside ul {
    font-size: 20px;
    list-style-type: none;
    margin: 5px;
}

aside ul li {
    position: relative;
    padding: 2px;
    padding-left: 35px;
    border-radius: 1px;
}

aside ul li:before {
    background-image: url("chek-mark.png");
    width: 10px;
    height: 20px;
    position: absolute;
    top: 8px;
    left: 10px;
    content: "";
}

aside ul li a {
    color: #000000;
    text-decoration: none;
    display: block;
}

aside ul li a:{
    color: #000;
}

aside ul li:visited hover a {
    color: grey;
}

aside ul li:nth-child(1):hover {
    background: #FF0000;
}

aside ul li:nth-child(2):hover {
    background: #FFA500;
}

aside ul li:nth-child(3):hover {
    background: #FFFF00;
}

aside ul li:nth-child(4):hover {
    background: #008000;
}

aside ul li:nth-child(5):hover {
    background: #0000FF;
}

aside ul li:nth-child(6):hover {
    background: #800080;
}

/*article styles*/
article{
    font-size: 1.6rem;
    margin-bottom: 10px;
    margin-left: 30px;
}

article>header{
    color: #ffffff;
    border-radius: 1rem;
    font-size: 3rem;
    padding: 1rem;
 }

article #webColors{
    background: #FF0000;
}

article #webSafeColors{
    background: #FFA500;
    color: #000000;
}

article #RGB{
    background: #FFFF00;
    color: #000000;
}

article #RGBA{
     background: #008000;
 }

article #HSLHSV{
    background:#0000CD;
}

article #lorem{
    background: #800080;
    margin-bottom: 15px;
}

article div:first-letter {
    font-size: 40px;
}

article div:first-line {
    font-style: italic;
}

article span[lang]{
    color: #1F2DA2;
    font-style: italic;
}

article span[lang]:before, article span[lang]:after{
    /*color: #1F2DA2;*/
    content: '"';
}

article footer a{
    font-style: italic;
    color: #808080;
}

article footer{
    margin-top: 5px;
}